<!DOCTYPE html>
<html ng-app="LunacyScheduler">

<head>
    <title>Lunacy Scheduler</title>

    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.5.6/angular-animate.min.js"></script>
    <script src="https://code.angularjs.org/1.5.6/angular-touch.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.5.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.5.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.5.1/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.5.1/firebase.js"></script>
	<script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>


    <!-- local files -->
    <script src="/js/bootstrap.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/test.js"></script>
    <script src="/js/angular-bootstrap.js"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="images/logo.png">
    <link href="css/sticky-footer.css" rel="stylesheet">
    <script src="js/moment.js"></script>
	<script>
		function addRow() {
			var table = document.getElementById("timeTable");		
			
			var row1 = table.insertRow(table.rows.length);
			var cell0  = row1.insertCell(0);
			cell0.innerHTML = "Start Time".bold();
			
			var start = []; 
			for (var i = 1; i < 8; i++) {
				start[i] = row1.insertCell(i);
				start[i].innerHTML = "<input type='time' name=''>";
			}

			var row2 = table.insertRow(table.rows.length);
			var cell1 = row2.insertCell(0);
			cell1.innerHTML = "End Time".bold();
			
			var end = []; 
			for (var i = 1; i < 8; i++) {
				start[i] = row2.insertCell(i);
				start[i].innerHTML = "<input type='time' name=''>";
			}

		}
	</script>
</head>

<body ng-controller="DatepickerPopupDemoCtrl">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Lunacy Scheduler</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="faq.html">FAQ</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="login.html">Login</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
        <!--/.container-fluid -->
    </nav>

    <div class="container">
        <div class="jumbotron text-center">
            <h1>Enter your available hours</h1>
                <p>We'll match you up with the best available times with other members in your group.</p>
        </div>
    </div>

	<div class="container">
        <form class="form-horizontal" role="form">
            <div class="form-group">
              <label for="inputName">First Name</label>
              <input type="text" class="form-control" id="exampleInputName2" ng-model="nameFirst">
            </div>
            <div class="form-group">
                <label for="inputName">Last Name</label>
                <input type="text" class="form-control" id="exampleInputName3" ng-model="nameLast">
            </div>
            <div class="form-group">
              <label for="inputEmail">Email</label>
              <input type="email" class="form-control" id="exampleInputEmail2" ng-model="email">
            </div>
            <div class="form-group">
				<label for="inputGroup">Group</label>
               <input type="text" class="form-control" ng-model="group">
            </div>
        </form>

        <div class="row">
            <div class="col-md-6">
                <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup='dd-MMMM-yyyy' ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                    <span class="input-group-btn">
		            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
		          </span>
                </p>
            </div>

            <div class="col-md-6">
                <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup='dd-MMMM-yyyy' ng-model="dt.end" is-open="popup2.opened" datepicker-options="dateOptions1" ng-required="true" close-text="Close" />
                    <span class="input-group-btn">
		            <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
		          </span>
                </p>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <table class="table table-bordered" id="timeTable">
            <thead>
                <tr>
                    <th>Day of the Week</th>
                    <th>Sunday</th>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                    <th>Saturday</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Start Time</th>
                    <td>
                        <input type="time" name="start_time_sunday">
                    </td>
                    <td>
                        <input type="time" name="start_time_monday">
                    </td>
                    <td>
                        <input type="time" name="start_time_tuesday">
                    </td>
                    <td>
                        <input type="time" name="start_time_wednesday">
                    </td>
                    <td>
                        <input type="time" name="start_time_thursday">
                    </td>
                    <td>
                        <input type="time" name="start_time_friday">
                    </td>
                    <td>
                        <input type="time" name="start_time_saturday">
                    </td>
                </tr>
                <tr>
                    <th scope="row">End Time</th>
                    <td>
                        <input type="time" name="end_time_sunday">
                    </td>
                    <td>
                        <input type="time" name="end_time_monday">
                    </td>
                    <td>
                        <input type="time" name="end_time_tuesday">
                    </td>
                    <td>
                        <input type="time" name="end_time_wednesday">
                    </td>
                    <td>
                        <input type="time" name="end_time_thursday">
                    </td>
                    <td>
                        <input type="time" name="end_time_friday">
                    </td>
                    <td>
                        <input type="time" name="end_time_saturday">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

	<div align="right">
    	<button type="button" class="btn btn-default" onclick="addRow()">Add time range</button>
	</div>

    <div class="container" align="center">
        <hr />
        <button type="button" class="btn btn-sm btn-info" ng-click="today()">Today</button>
        <button type="button" class="btn btn-sm btn-danger" ng-click="clear()">Clear</button>
        <button type="button" class="btn btn-success" ng-click="submit()" onclick="location.href='CreateEvent2.html'">Submit</button>
    </div>

</body>
<!-- FOOTER -->

<footer>
    <div class="footer">
        <div class="container">
            <div class="powered-by-copyright col-md-9">

                <p style="clear:both;">&copy; 2017 LUNACY SCHEDULER <img src="images/logo.png" style="width:50px;height:50px;" /> ALL RIGHTS RESERVED.</p>
            </div>
        </div>
    </div>
</footer>

</html>
