body {
    background-image: url("../images/about_pic1_noObj.jpg");
    no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
