.header{
  margin-bottom: 25px;
}
#backButton{
  margin-left: -2%;
  margin-top: 1%;
  float: left;
}

#title{
  font-size: 31px;
  font-weight: bold;
  margin-left: 30%;
  float: left;
}

.subContainer{
  margin-top: 20px;
}
