#backButton{
  margin-left: 5%;
  margin-top: 1%;
  float: left;
}

#title{
  font-size: 31px;
  font-weight: bold;
  margin-left: 20%;
  float: left;
}


/* For users Table */
.row{
  margin-top:40px;
  padding: 0 10px;
}
.clickable{
  cursor: pointer;
}

.panel-heading div {
margin-top: -18px;
font-size: 15px;
}
.panel-heading div span{
margin-left:5px;
}
.panel-body{
display: none;
}
