#calendar {
	max-width: 900px;
    margin: 10px auto;
    margin-bottom: 25px;
	}

  .btn-toolbar{
    display: table;
    width: auto;
    margin: 0 auto; /* adjust as needed */
    padding: 0px; /* adjust as needed */
  }

.button{
  margin: 50px;
}
